<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service interface="org.apache.wicket.protocol.http.WebApplication">
        <service-properties>
            <entry key="mount-point" value="/multi" />
            <entry key="application-name" value="multi" />
        </service-properties>
        <bean class="org.code_house.examples.multibundle.home.HomeApplication" />
    </service>

    <reference-list id="providers" interface="org.code_house.examples.multibundle.api.LinkProvider" availability="optional" />

</blueprint>
